*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
   /*background-color: lightblue;*/
    padding: 1rem;
   /* border: 1px solid blue;*/

}

.container{
    display: grid;
    grid-template-columns: 3fr 6fr 4fr 6fr ;
    grid-auto-rows: minmax(auto,auto);
    grid-column-gap:1rem ;
    grid-row-gap:2rem ;

    grid-template-areas:
        
         "a b c d"
         "e f g d"
         "h i j d";

}

.item-1{
    grid-area: a;

}
.item-2{
    grid-area: b;

}
.item-3{
    grid-area: c;

}
.item-4{
    grid-area: e;

}
.item-5{
    grid-area: f;

}
.item-6{
    grid-area: g;

}
.item-7{
    grid-area: h;

}
.item-8{
    grid-area: i;

}
.item-9{
    grid-area: j;

}
.item-10{
    grid-area: d;

}


.Checkoutbtn{
    
    color: white;
    padding: 10px 60px;
    display: inline-block;
    align-items: center;
    width:100%
}


.carttext{
    text-align: left;
}

.summarytbl{
    width: 100%;
}
.txtborder{
    border-bottom: 1px solid #6c6a6a;
}

.border10{
    border: #fafafa;
    border-radius: 3px;

}

.price{
    text-align: right;
}

